body {
  font-size: 36px;
  color: #556B2F;
}

h1, p {
  margin:0;
}

.wrapper {
  max-width: 40%;
  margin: 200px auto;
  background: #ffffbf;
  padding: 64px;
}

.list {
  text-align: center;
}

.list-input {
  font-size: 16px;
  width: 80%;
  padding: 8px;
  border: 0px;
  color: #556B2F;
  background: #ffffbf;
  margin-bottom: 48px;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px;
}

.todo-box {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  
}

.btn-delete {
  cursor: pointer;
}

.todo__check {
  width: 20px;
  height: 20px;
}

.done p{
  text-decoration: line-through;
}