.wrapper {
    max-width: 500px;
    border: #3e613d 1px solid;
    margin: 0 auto;
    padding: 32px
}

.todo {
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 12px;
}

.todo:hover {
    background: rgba(0, 0, 0, 0.1);
}

.todo__title {
    flex: 1;
}

.todo__check {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.todo.done .todo__title {
    text-decoration: line-through;
}