body {
    background:rgba(0, 0, 0, 0.1);
}

.wrapper {
    max-width: 645px;
    background: white;
    box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
    font-family: MicrosoftJhengHei;
    margin: 10% auto;
}

.section {
    margin: 0 0 50px 0;
}

.form {
    padding: 50px 40px;
    border-top:solid 8px #fad312;;
}

h1 {
    margin: 0 0 35px 0;
}

p {
    font-size: 14px;
    color: black;
    line-height:1.5em;
    margin-top: 0;
}

.hidden {
    visibility: hidden;
    font-size: 16px;
    color:#e74149;
}

.form__alert {
    font-size: 16px;
    color:#e74149;
}

.question {
    line-height: 2em;
    font-size: 20px;
    margin-top: 50px;
}

.text {
    width: 250px;
}

.require:after {
    content: ' *';
    color: #e74149;
}

.selection {
    font-size: 14px;
}

.button {
    padding:15px 30px;
    background:#fad312;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.1s;
    margin: 50px 0 20px 0 ;
    border: none;
}

.button:hover {
    transform: scale(1.1);
}

.footer__top {
    height: 3px;
    border: solid 1px #fad312;
    background: #fad312;
    margin-top: 60px;
}

.footer__bottom {
    background: #000000;
    color:#999999;
    font-size: 13px;
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 768px){
    .wrapper {
        margin: 5% 5%;
    }

    h1 {
        font-size:40px;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
    }

    .form__alert {
        font-size: 18px;
    }

    .question {
        line-height: 2em;
        font-size: 24px;
        margin-top: 40px;
    }

    .selection {
        font-size: 18px;
    }

    .button {
        padding:20px 35px;
        font-size: 24px;
        margin-top:50px;
    }

    .footer__top {
        margin-top: 10px;
    }

    .footer__bottom {
        padding: 15px 0;
        font-size: 15px;
    }
}